@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

body {
    margin-bottom: 2em;
    padding:0px;
}

main {
    padding:16px;
    margin-bottom: 3em;
}

images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#main-link-color:not(:hover) {
    color:white
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 2.8em;
    color: lightcoral
}

h2 {
    font-family: 'Caveat', cursive;
    font-size: 2.0em;
}

h3 > a {
    color:green
}

.default-font {
    font-family: 'Times New Roman', Times, serif
}

footer {
    padding-top:24px;
    padding-bottom:24px;
    padding-left:16px;
    padding-right:0px;
    bottom: 0;
    position: sticky;
    background-color: lightgreen;
}

img {
    height:200px;
}

nav {
    border-bottom:1px solid black;
    padding-top:16px;
    padding-bottom:16px;
    padding-left:16px;
    padding-right:16px;
    background-color: lightcoral;
}

a {
    text-decoration: none
}

table {
    border: 1px solid #008000;
  }

th {
    background-color: #fff;
    color:#000;
    border: 1px solid #000;
}

a:hover {
    color:lightgreen;
}

tr:nth-child(even) {
    background-color:lightgray;
}
